* {
    box-sizing: border-box;
}

*:hover {
    cursor: pointer;
}

.app {
    display: flex;
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* position: relative; */
    
}

html {
    padding: 0px;
}

title {
    font-weight: lighter;
}

h3 {
    margin: 0px;
}

/* .navbar {
    display: flex;
} */

.logo {
    font-weight: lighter;
    /* margin: 50px 0; */
    height: 35px;
    width: 35px;
    /* justify-self: center; */
    /* font-size: 10px; */
    /* padding: 15px; */
    /* padding-left: 5px; */

}

/* .logo:hover {
    background-color: #e6f5fe;
    padding: 10px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
} */


.fa-earlybirds {
    color: #25A1F2;
    padding: 12px;
    font-size: 25px;
    /* border: 1px solid purple; */

}

.fa-earlybirds:hover {
    background-color: #e6f5fe;
    color: #25A1F2;
    border-radius: 50%;
}

.fa-igloo {
    color: #25A1F2;
    padding: 12px;
    font-size: 23px;
    margin-top: -10px;

}

.fa-igloo:hover, .fa-search:hover {
    background-color: #e6f5fe;
    color: #25A1F2;
    border-radius: 50%;
}

.fa-user, .fa-search {
    /* color: #25A1F2; */
    color: #10151A;
    padding: 14px;
    font-size: 25px;
    margin-top: -15px;
    /* margin-left: 2px; */
}

.fa-user:hover {
    background-color: #e6f5fe;
    color: #25A1F2;
    border-radius: 50%;
}


.fa-feather {
    color: white;
    background-color: #25A1F2;
    padding: 17px;
    border-radius: 50%;
    margin-top: -10px;
    margin-right: 5px;
    
}

.fa-feather:hover {
    background-color: #1f88ce
}

.disabled {
    color: rgb(236, 230, 230);
    padding: 14px;
    font-size: 23px;
    margin-top: -20px;
}

.fa-bookmark {
    margin-left: 2px;
}

.fa-stream {
    border: 2px solid rgb(236, 230, 230);
    padding: 4px 4px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: -15px;
    border-radius: 4px;
}

.fa-ellipsis-h {
    border: 1px solid rgb(197, 193, 193);
    border-radius: 50%;
    font-size: 14px;
    padding: 4px;
    margin-left: 13px;
    /* margin-top: 13px; */
    margin-bottom: 13px;
}

.top-links {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.logout {
    height: 10px;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);    border: none;
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: -1px;

}

p {
    margin-left: 25px;
}

a {
    color: burlywood;
    text-decoration: none;
}
/* 
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid #C8C7C9;
    background-color: white;

} */

/* input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
    border-bottom: 3px solid #C8C7C9;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
} */


input[type=submit] {
    margin-top: 15px;   
}

input::placeholder {
    color: #5B7083;
    font-size: 19px;
}

button {
    padding-left: 7px;
    padding-right: 7px;
    height: 100%;
    margin-top: 15px;
    margin-left: 25px;
}

.nav {
    /* margin-right: 50px; */
    margin-left: -55px;
    margin-top: -15px;
    position: fixed;
    overflow-y: scroll;
    padding-right: 30px;
    height: 110%;
    width: 100px;
    /* border: 1px solid purple; */
    margin-right: 80px;

}

.nav-bar {
    position: relative;
    /* padding-right: 20px; */
}

.tweets {
    /* margin-left: 20px; */
    border-left: 1px solid #ECEEF1;
    margin: 0 auto;
    position: relative;
    border-right: 1px solid #ECEEF1;
    background-color: #F7F9FA;
    width: 100%;
    margin-left: 40px;

}

.home-bar {
    /* line-height: 1.3125; */
    display: flex;
    font-size: 19px;
    font-weight: bolder;
    /* margin-left: 20px; */
    position: fixed;
    background-color: white;
    height: 61px;
    z-index: 1;
    /* padding-top: 22px; */
    padding-left: 15px;
    /* padding-right: 18px; */
    margin-top: 0px;
    top: 0px;
    /* left: 11.7%;
    right: 11.7%; */
    border-bottom: 1px solid#ECEEF1;
    border-right: 1px solid #ECEEF1;
    /* border: 1px solid purple; */
    justify-content: space-between;
    /* margin: 0 auto; */
    width: 592px;
    /* margin-right: -400px; */
}

.home-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding-top: 5px;
    cursor: pointer;
}

.sparkle {
    align-self: center;
    color: transparent;
    /* color: #25A1F2; */
    text-shadow: 0 0 #25A1F2;
    padding: 10px;
    font-size: 28px;

}

.sparkle:hover {
    color: transparent;
    text-shadow: 0 0 #25A1F2;
    background-color: #e6f5fe;
    /* color: #25A1F2; */
    border-radius: 50%;
}



/* Tweet compose */

.compose-block {
    margin-top: 53px;
    display: flex;
    /* border-top: 1px solid #ECEEF1; */
    padding-top: 15px;
    /* margin-left: 0px; */
    border-bottom: 1px solid #ECEEF1;
    padding-bottom: 48px;
    padding-left: 20px;
    margin-bottom: 10px;
    background-color: white;
    /* padding-right: 20px; */
    width: 100%;
    /* margin-left: 10px; */
    margin: 53px auto 0 auto;
    height: 124px;
}

.profile-pic {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tweet-compose-input {
    width: 100%;
    font-size: 20px;
    border: none;
    padding: 10px;
}

.input-area {
    position: relative;
    width: 100%;
}

.compose-buttons {
    /* position: absolute; */
    display: flex;
    color: rgb(236, 230, 230);
    margin-top: 25px;
    margin-left: 11px;
    font-size: 22px;
    justify-content: space-between;
    width: 171px;
    /* margin-bottom: 0px; */   
}

.gif {
    font-size: 10px;
    border: 1px solid rgb(236, 230, 230);
    padding: 4px 2px;
    border-radius: 3px;
    align-self: center;
}

.fa-chart-bar {
    transform: rotate(90deg);
    margin-left: -5px;
    font-size: 18px;
    margin-bottom: 1px;
}

.compose-button {
    background-color: #25A1F2;
    font-weight: bolder;
    color: white;
    border: none;
    font-size: 15px;
    width: 80px;
    padding: 12px;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    right: 20px;
    top: 40px;

}

.compose-button:disabled {
    background-color: #9BD0F9;
}

/* Tweets */



.feed {
    border-top: 1px solid #ECEEF1;
    margin-top: 10px;
    /* padding: 20px; */
    padding-top: 0px;
    background-color: white;
    
}


/*Tweet box*/

.tweet-box {
    border-bottom: 1px solid #ECEEF1;
    padding-top: 0px;
    margin: 0px;
    padding: 0px;
    min-height: 111px;
    padding: 13px;
    position: relative;
    display: flex;
    font-size: 12px;
    line-height: 1.314;
    /* justify-content: space-between; */
}

.tweet-box:hover {
    background-color: #f7f7f7;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 523px;
    margin-left: -8px;
    /* border: 1px solid purple; */
    /* justify-content: space-between; */
}

.tweet-box-handle {
    font-weight: bolder;
    font-size: 14px;
    color: #10151A;
}

.tweet-box-options {
    /* margin-right: 2px; */
    border: none;
    color: rgb(216, 208, 208);
    

}


.tweet {
    width: 80%;
    padding-bottom: 50px;
    padding-left: 17px;
    font-weight: lighter;
    margin-top: -38px;
    font-size: 15px;
    color: #10151A;
}



.social-icons {
    position: absolute;
    bottom: 14px;
    width: 615px;
    font-size: 20px;
    color: #5B6F83;
    display: flex;
    justify-content: space-evenly;   
    margin-left: -80px; 
}

.grayed-out {
    color: rgb(236,230,230)
}

.fa-comment::before, .fa-retweet::before, .fa-heart::before, .fa-sign-out-alt::before {
    width: 15px;
    height: 15px;
    padding: 10px;
    
}



.fa-retweet:hover:before, .fa-retweet:hover{
    background-color: #e5f1e8;
    color: #18bf64;
    border-radius: 55%;


}



.fa-heart:hover:before, .fa-heart:hover{
    background-color: #f7e3e8;
    color: #e0275f;
    border-radius: 55%;

}

.fa-sign-out-alt {
    transform: rotate(270deg);

}

.fa-sign-out-alt:hover:before, .fa-sign-out-alt:hover, .fa-comment:hover:before, .fa-comment:hover {
    background-color: #e6f5fe;
    color: #25A1F2;
    border-radius: 55%;

}

/* Profile */
.profile-container {
    position: relative;
    border-right:1px solid #ECEEF1;
    margin-left: 50px;
    width: 600px;

}

.profile-bar {
    display: flex;
    border-color: #ECEEF1;
    border-bottom:1px solid #ECEEF1;

    height: 53px;

    position: relative;
    position: fixed;
    top: 0px;
    width: 82.9%;
    z-index: 2;
    background-color: white;
    
}


.fa-arrow-left {
    margin-right: 10px;
    color: #25A1F2;
    padding: 20px;
    float: left;
}

.bar-right-side {
    float: right;
    color: #5B7083;
    font-size: 12px;
    position: absolute;
    z-index: 3;
    color: black;
    top: 55px;
    left: 70px;
    top: 35px;


}

.top-profile-handle {
    font-weight: bolder;
    color: black;
    font-size: 23px;
    position: absolute;

    padding-left: -660px;
    margin-bottom: 0px;
    margin: 0px;
    top: -30px;
    left: -200px;
    
    left: 0px;
}



.header-img {
    width: 100%;
}

.main {
    height: 134px;
    width: 134px;
    border: 4px solid white;
    margin-top: -130px;
    margin-left: 50px;
    position: absolute;
    z-index: 1;
   
}

.profile-container {
    margin-top: -170px;
    margin-left: 40px;
    border-left: 1px solid #ECEEF1;
}

.profile {
    margin-top: 250px;
    margin-left: 105px;
    margin-left: -40px;
    
}

.profile-handle {
    margin-top: -200px;
    margin-left: 95px;
}

.profile-date {
    padding-top: 10px;
    color: #8899A7;
    margin-left: 98px;
}

.profile-tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-weight: bolder;
    border-bottom: 1px solid #ECEEF1;
    width: 100%;
    font-size: 16px;
    align-items: center;

    
}

.tab {
    padding-top: 18px;
    height: 53px;
    width: 100%;
    text-align: center;
    color: #5B6F83;
    color: rgb(236,230,230)
}

.tab:hover {
    background-color: #e6f5fe;
    color: #25A1F2;
}

.selected {
    color: #25A1F2;
    border-bottom: 3px solid #25A1F2;
}

.profile-feed {
    margin-top: 10px;
}


/* Session forms*/

.session-container {
    margin: 0 auto;
    text-align: center;
}

.session-logo {
    margin: 0;
    margin-top: 10px;
    font-size: 34px;
    text-align: center;
}

.session-title {
    font-size: 22px;
}

.session-input {
    max-width: 538px;
    min-width: 439px;
    height: 55px;
    border-radius: 4px;
    border: none;
    border: 1px solid gray;
    margin-bottom: 20px;
    /* padding: 10px; */
}

.session-submit {
    max-width: 538px;
    min-width: 439px;
    height: 55px;
    color: white;
    font-weight: bolder;
    background-color: #25A1F2;
    border: none;
    border-radius: 50px 50px 50px 50px;
}

.session-submit:hover {
    background-color: #1e80c2;
    
}

.session-link {
    color: #25A1F2;
    margin: 0;
}

/*Search*/

.search-form {
    width: 563px;
    /* background-color: #ECEEF1; */
    /* border: 1px solid purple; */
    display: flex;
    margin-top: -8px;
    /* margin: 0 auto; */
    margin-left: 50px;
    position: relative;
    color: #10151A;
    /* border: 1px solid purple; */
}

.search {
    background-color: #ECEEF1;
    /* border: 1px solid ECEEF1 */
    border-radius: 50px 50px 50px 50px;
    height: 34px;
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
    border: none;
    padding-left: 50px;
    font-size: 16px;
    
}

.search-bar-icon {
    position: absolute;
    left: 172px;
    top: 27px;
    color: #6A7C8E;
    z-index: 2;
    font-size: 16px;
}

.search::placeholder{
    /* padding-left: 50px; */
    padding-top: 5px;
    font-size: 16px;
    font-weight: lighter;
    color: #6A7C8E;
}


