* {
    box-sizing: border-box;
}

.app {
    display: flex;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* position: relative; */
    
}

title {
    font-weight: lighter;
}

/* .navbar {
    display: flex;
} */

.logo {
    font-weight: lighter;
    /* margin: 50px 0; */
    height: 35px;
    width: 35px;
    /* justify-self: center; */
    /* font-size: 10px; */
    /* padding: 15px; */
    /* padding-left: 5px; */

}

.fa-igloo {
    color: #25A1F2;
    padding: 10px;
    font-size: 25px;
}

.fa-igloo:hover {
    background-color: #25A1F2;
    color: white;
    border-radius: 50%;
}

.fa-user {
    color: #25A1F2;
    padding: 10px;
    font-size: 25px;
}

.fa-user:hover {
    background-color: #25A1F2;
    color: white;
    border-radius: 50%;
}


.fa-feather {
    color: white;
    background-color: #25A1F2;
    padding: 15px;
    border-radius: 50%;
    
}

.fa-feather:hover {
    background-color: #1f88ce
}

.top-links {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.logout {
    height: 10px;
    background-color: burlywood;
    border: none;
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;

}

p {
    margin-left: 25px;
}

a {
    color: burlywood;
    text-decoration: none;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid #C8C7C9;
    background-color: white;

}

input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
    border-bottom: 3px solid #C8C7C9;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


input[type=submit] {
    margin-top: 15px;   
}

input::placeholder {
    color: rgb(175, 175, 175);
}

button {
    padding-left: 7px;
    padding-right: 7px;
    height: 100%;
    margin-top: 15px;
    margin-left: 25px;
}

.home-title {
    line-height: 1.3125;
    font-size: 19px;
    font-weight: bolder;
    margin-left: 20px;

}

/* Tweet compose */

.compose-block {
    width: 100%;
    display: flex;
    border-top: 1px solid #ECEEF1;
    padding-top: 15px;
    /* margin-left: 0px; */
    border-bottom: 1px solid #ECEEF1;
    padding-bottom: 48px;
    padding-left: 20px;
}

.profile-pic {
    background-color: burlywood;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tweet-compose-input {
    width: 100%;
    font-size: 20px;
    border: none;
    padding: 10px;
}

.input-area {
    position: relative;
    width: 100%;
}

.compose-button {
    background-color: #25A1F2;
    font-weight: bolder;
    color: white;
    border: none;
    font-size: 15px;
    width: 80px;
    padding: 12px;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    right: 20px;
    top: 40px;

}

.compose-button:disabled {
    background-color: #9BD0F9;
}

/* Tweets */

.tweets {
    margin-left: 20px;
    border-left: 1px solid #ECEEF1;
}

.feed {
    border-top: 1px solid #ECEEF1;
    margin-top: 10px;
    padding: 20px;
    padding-top: 0px;
}