* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* position: relative; */
    
}

title {
    font-weight: lighter;
}

h1 {
    font-weight: lighter;
    margin: 50px 0;
}

.top-links {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

p {
    margin-left: 25px;
}

a {
    color: burlywood;
    text-decoration: none;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid #C8C7C9;
    background-color: white;

}

input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
    border-bottom: 3px solid #C8C7C9;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


input[type=submit] {
    margin-top: 15px;   
}

input::placeholder {
    color: rgb(175, 175, 175);
}

button {
    padding-left: 7px;
    padding-right: 7px;
    height: 100%;
    margin-top: 15px;
    margin-left: 25px;
}

.home-title {
    line-height: 1.3125;
    font-size: 19px;
    font-weight: bolder;
}

/* Tweet compose */

.compose-block {
    width: 100%;
    display: flex;
    border-top: 1px solid #ECEEF1;
    padding-top: 15px;
    /* margin-left: 0px; */
}

.profile-pic {
    background-color: burlywood;
    width: 55px;
    height: 50px;
    border-radius: 50%;
}

.tweet-compose-input {
    width: 100%;
    font-size: 20px;
    border: none;
    padding: 10px;
}

.input-area {
    position: relative;
    width: 100%;
    /* border-bottom: 1px solid #ECEEF1; */
}

.compose-button {
    background-color: #25A1F2;
    font-weight: bolder;
    color: white;
    border: none;
    font-size: 15px;
    width: 80px;
    padding: 12px;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    right: 20px;
    top: 40px;

}

.compose-button:disabled {
    background-color: #9BD0F9;
}